name: Fail Example

on:
  push:
    branches: [ main ]

jobs:
  fail-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: This step will fail
        run: exit 1

